.currencyRates {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 100px;
}
.currencyColumn {
	background: rgba(0,0,0, 0.1);
	margin: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
	box-shadow: 2px 2px 4px rgba(0,0,0, 0.5);
}
.currencyColumn h2 {
	font-size: 1.5em;
	color: white;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.9);
}

.usd {
	background-image: url('https://victoria.bodiewebdesign.com/Images/us50.jpg');
	background-position: center;
	width: 335px;
	height: 205px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cad {
	background-image: url('https://victoria.bodiewebdesign.com/Images/canada50.jpg');
	background-position: center;
	display: flex;
	width: 335px;
	height: 205px;
	justify-content: center;
	align-items: center;
}

.cad h3 {
	color: white;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.9);
}

.currency {
	text-align: center;
	margin-top: 20px;
	font-size: 2.5em;
}
input[type="text"] {
	margin-bottom: 30px;
}

input[type="submit"] {
	background: rgba(0,0,0,0.75);
	padding: 20px;
	color: white;
}

input[type="submit"]:hover {
	background: rgba(0,0,0,1);
}

@media (min-width: 769px) {
	.usd, .cad {
		width: 500px;
		height: 228px;
	}
	.usd h2, .cad h2 {
		font-size: 2em;
	}
	.currency {
		font-size: 2.5em;
	}

}
