.restaurants {
	margin-bottom: 115px;
}

.restaurant {
	display: flex;
	padding: 20px;
	flex-wrap: wrap;
	align-content: flext-start;
	box-shadow: 2px 2px 4px rgba(0,0,0, 0.5);
	background: rgba(0,0,0, 0.1);
	margin: 30px 15px;
}

.pageTitle {
	text-align: center;
}

.restaurantTitle {
	width: 100%;
}

.restaurantImage {
	display: block;
	margin: 0 auto;
}
.address {
	background: #EE3A43;
}

.address p {
	margin-bottom: 0;
	color: black;
	font-weight: bold;
	text-align: center;
}

.paragraph {
	margin-top: 20px;
}
@media (min-width: 480px) {
	.paragraph {
		margin-top: 0px;
		width: 55%;
	}	
}
@media (min-width: 769px) {
	.paragraph {
		width: 65%;
	}	
}
