.home-overlay h3 {
	font-size: 0.8em;
	line-height: 1.0em;
	margin-top: 1.0em;
	margin-bottom: .5em;
	font-weight: bold;
}
.home-overlay p {
	font-size: .6em;
	line-height: 1.5;
	margin: 0 0 1.5em;
}
.content-parent {
	display: block;
	margin: 0 auto;
	width: 80%;
	margin-top: 30px;
}
.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.buttons {
	display: flex;
	justify-content: space-around;
	margin-top: -10px;
	padding: 20px;
	box-shadow: 2px 2px 4px rgba(0,0,0, 0.5);
}

.homeButtons {
	text-align: center;
	width: 60px;
	height: 60px;
	display: flex;
	border-radius: 100%;
}

.homeButtons:hover {
	background-color: #CC1921!important;
}

.home-container {
	text-align: center;
}

.home-photo {
	position: relative;
	line-height: 0;
	margin-bottom: 2em;
	overflow: hidden;
	box-shadow: 4px 4px 8px rgba(0,0,0, 0.5);
}
.home-photo img {
 	max-width: 100%;
 	
}

/* ---- Photo Overlay ---- */

.home-overlay {
	color: #fff;
	background: rgba(0,0,0, 1);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
	display: flex; /* For centering text inside .photo-overlay */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50%;

}


/* ================================= 
  Media Queries
==================================== */


@media (min-width: 769px) {
	.home-container {
		width: 45%;
	}
}

/* ================================= 
  Photo Overlay Transitions
==================================== */


@media (min-width: 767px) {
	.home-overlay h3 {
		font-size: 1.4em;
		line-height: 1.25em;
		margin-top: .85em;
		margin-bottom: .5em;
	}
	.home-overlay p {
		font-size: 1em;
		line-height: 1.4;
	}
	.home-overlay {
		background: rgba(0,0,0, 0);
		opacity: 0;
		transition: opacity .5s, background .5s;
	}
	.home-overlay:hover {
		background: rgba(0,0,0, 1);
		opacity: 1;
	}

}


