@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";



.slick-prev:before, .slick-next:before {
    font-size: 40px;
    opacity: 1;
    color: black;
}

.slick-prev, .slick-next {
    width: 40px;
    height: 40px;
}

.slick-prev:hover, .slick-next:hover {
	opacity: 0.8;
}

.slick-prev {
	left: 0%;
	z-index: 1000;
}
.slick-next {
	right: 0%;
	z-index: 1000;
}

.carousel {
  font: 1em/1.5 'Roboto', sans-serif;
  color: #4c4c4c;
  margin-top: -35px;
}
a {
  text-decoration: none;
}

h3, h6 {
  text-align: center;
}
h4 {
	text-align: center;
	text-transform:capitalize;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}


/* =================================
  Layout Styles
==================================== */
.title {
	text-align: center;
	padding: 10px;
}


.slick-slide img {
    margin: 0 auto;
    max-height: 200px;
}

.slick-dots {
	position: relative!important;
	bottom: 0!important;
	max-width: 500px;
	display: block;
	margin: 0 auto!important;
	padding: 10px;
	z-index: 1000;
}

.slick-dots li {
		margin: 0;
		width: 10px;
		height: 10px;
		color: white!important;
}





/* =================================
  Media Queries
==================================== */


@media (min-width: 480px) {
.slick-prev {
	left: 10%;
	top: 50%;
}

.slick-next {
	right: 10%;
	top: 50%;
}


  .slick-slide img {
      max-height: 340px;
	}
	.slick-list {
		padding: 10px;
	}
}

@media (min-width: 769px) {

.slick-prev {
	left: 10%;
	top: 50%;
}

.slick-next {
	right: 10%;
	top: 50%;
}

  .main-title {
    float: left;
  }
  .slick-dots {
  	max-width: 80%;
	}
	.slick-list {
		padding: 10px;
	}

  .slick-slide {
		width: 800px;
  }
	.slick-slide img {
		max-height: 480px;
	}
}

.bannerSlick .slick-dots {
	position: absolute!important;
	max-width: 100%;
	margin-bottom: 10px!important;
	
}
.bannerSlick .slick-dots li {
	margin: 0px 10px;
}

.bannerSlick .slick-dots li button:before {
	font-size: 12px;
	color: white;
	opacity: 0.5;
}

.bannerSlick .slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}

.bannerSlick .slick-list {
	padding: 0;
}


@media (min-width: 480px) {
.bannerSlick .slick-dots {
	margin-bottom: 30px!important;
}
}
