.keyboard {
	padding: 20px;
	margin-bottom: 100px;
}


.keyboard form {
	border: 2px solid rgba(0,0,0, 0.75);
	margin-bottom: 20px;
	background: rgb(238, 58, 67);
	border-radius: 10px;
}
.keys {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px auto;
}
.keyboard-enter {
	box-shadow: 5px 5px 10px rgba(0,0,0, 0.75);
	height: 250px;
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	padding: 20px;
	margin-bottom: 10px;
	display: block;
	background: white;
}

.keyboard-header {
	text-align: center;
	font-size: 2.5em;
}

.keyboard input[type="submit"] {
	font-size: 1.25em;
	padding: 5px;
	min-width: 40px;
}

@media (min-width: 768px) {
	.keyboard input[type="submit"] {
		font-size: 2em;
		min-width: 80px;
	}
	.keyboard-enter {
		width: 80%;
	}
	.keys {
		width: 80%;
	}
}
